.side {
	margin-bottom: 32px;
}

.side_menu {

	h3 {
		margin-bottom: 32px;
		color: $main;
	}

	.menu_item {
		display: grid;
		grid-template-columns: 1fr	auto;
		grid-template-rows: 32px;
		align-items: center;
		position: relative;

		&.active {
			font-weight: 700;
			color: $main;

			&:after {
				content: "";
				background: $main;
				position: absolute;
				width: 180px;
				height: 100%;
				border-radius: 0 50px 50px 0;
				left: -16px;
				opacity: 0.1;
			}
		}

		&:hover {
			color: $main;
			font-weight: 700;
		}
	}
}