// FIX LIFERAY
.portlet-dockbar {
	position: absolute;
}

.aui {

	body, body #wrapper {
		font-family: $font !important;
		font-size: $regular !important;
	}

	h1, h2, h3, h4, h5, h6, p {
		line-height: 1!important;
		margin: 0!important;
	}

	h3 {
		font-size: 2.4rem!important;
	}

	.navbar .nav li a {
		color: #ffffff;
	}

	.navbar-inner {
		display: inline-block;
	}

	.navbar .nav li.lfr-nav-item {
		float: none;
		display: block;
	}

	a {
		color: inherit !important;

		&:hover {
			text-decoration: none!important;
			color:inherit !important;
		}
	}

	.nav-item-label,
	.user-full-nam {
		color: #ffffff;
	}

	.dockbar-split .dockbar .navbar-inner .nav-add-controls{
	    top: 75% !important;
	}

	.dropdown-menu .nav-item-label {
		color: #333333!important;
	}

    .dockbar-split .dockbar .navbar-inner .nav > li > a {
    	background-color: $main;
        line-height: 1!important;
        padding: 1.6rem .8rem!important;

		&.user-avatar-link {
			padding: 1.2rem .8rem!important;
		}
    }

    .dockbar-split .dockbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle {
    	background-color: #033e8c!important;
    	color: #ffffff!important;
    }

    .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover {
        background-color: #fff;
    }

    .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a {
        background-color: #fff;
    }

    .dockbar-split .dockbar .navbar-inner .nav > li {
        background-color: #fff;
    }

    .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link {
        background-color: #D3D3D3;
    }

    .dockbar-split.controls-hidden .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > .toggle-controls-link {
        background: #6AC1F3;
    }

    .dockbar .user-avatar img {
        width: 23px;
        border-radius: 50%;
        border:3px solid #fff;
    }

    .dockbar-user-notifications .dropdown-toggle .user-notifications-count {
        background-color: #fff;
    }

    .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a:hover {
        background-color: #D3D3D3;
    }

    .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a {
        background-color: #fff;
    }

    .dockbar-split .dockbar .navbar-inner .nav > li {
        background-color: #fff;
    }

    .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a.toggle-controls-link {
        background-color: #D3D3D3;
    }

    .dockbar-split.controls-hidden .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > .toggle-controls-link {
        background: #6AC1F3;
    }

    .dockbar-split .dockbar .navbar-inner .nav-add-controls {
        top: 75%!important;
    }

    .dockbar .user-avatar img {
        width: 23px;
        border-radius: 50%;
        border:3px solid #fff;
    }

    .dockbar-user-notifications .dropdown-toggle .user-notifications-count {
        background-color: #fff;
    }

    .navbar-inner {
        background-image: linear-gradient(to bottom, #033E8C, #033E8C);
    }

    a [class^="icon-"], a [class*=" icon-"] {
        display: inline;
        color: white;
    }

    .dockbar-split .dockbar .navbar-inner .nav > li > a {
        height: auto;
    }

    .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a {
        background-color: #033E8C !important;
    }

    .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"],
    .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class^="icon-"],
    .dockbar-split .dockbar .navbar-inner .nav-add-controls > li > a [class*=" icon-"] {
        vertical-align: inherit;
    }

    .navbar .nav li.dropdown.open > .dropdown-toggle,
    .navbar .nav li.dropdown.active > .dropdown-toggle,
    .navbar .nav li.dropdown.open.active > .dropdown-toggle {
        background-color: inherit !important;
    }

    .portlet {

    	header {
    		display: none;
    	}

        .portlet {
            padding: 0;
        }
    }

    .portlet-content {
    	padding: 0;
    }

    .portlet-column-content,
    .portlet-boundary,
    .portlet-content,
    .portlet-content-container,
    .portlet-body {
        height: 100%!important;
    }

    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        background-color: $white !important;
        border: 0 !important;
        box-shadow: none !important;
        transition: none !important;
        display: inline-block !important;
        height: auto !important;
        padding: 0 !important;
        padding-left: 1.6rem !important;
        margin: 0 !important;
        margin-bottom: 0 !important;
        font-size: $regular !important;
        line-height: 1 !important;
        color: $dark!important;
        border-radius: none !important;
        vertical-align: middle !important;
    }

    footer {
        display: none!important;
    }

	.anomaly {

		.dt_blockName {
			position: relative!important;
			top: 0!important;
			width: auto!important;
		}

		.group.dk-bus.expanded-group.group-item-expander {
			display: none!important;
		}

		table.dataTable.no-footer {
			margin: 0!important;
			border-bottom: .1rem solid $main !important;

			thead {
				padding: 0!important;
			}
		}

		table.dataTable thead th,
		table.dataTable thead td {
			padding: 0;
		}

		.dataTables_wrapper .dataTables_filter {
			float: none;
		}

		.dataTables_scrollBody {
			height: calc((100% - (10px)) / 2);
		}

		.dataTables_scroll {

		}

		.dataTables_filter {
			height: auto!important;

			input {
				display: none !important;
			}

			.search_form {

				input {
					display: inline-block;
				}
			}
		}
	}
}
