@import "colors";
@import "fonts";
@import "reset";
@import "helpers";

@import "layout/grid";
@import "layout/page";

@import "navigation/navigation";
@import "navigation/side";

@import "sections/hero";
@import "sections/side";
@import "sections/content";
@import "sections/footer";

@import "elements/cards";
@import "elements/buttons";
@import "elements/popups";


body {
	background: $light;
	font-family: $font;
}


// FIX LIFERAY
.portlet-dockbar {
	position: absolute;
}

.aui {

	body, body #wrapper {
		font-family: $font !important;
	}

	.navbar .nav li a {
		color: #ffffff;
	}

	.navbar-inner {
		display: inline-block;
	}

	.navbar .nav li.lfr-nav-item {
		float: none;
		display: block;
	}

	a {
		color: inherit !important;

		&:hover {
			text-decoration: none!important;
			color:inherit !important;
		}
	}

	.nav-item-label,
	.user-full-nam {
		color: #ffffff;
	}

	.dockbar-split .dockbar .navbar-inner .nav-add-controls{
	    top: 60% !important;
	}

	.dropdown-menu .nav-item-label {
		color: #333333!important;
	}
}

.aui .dockbar-split .dockbar .navbar-inner .nav > li > a {
	background-color: #033e8c;
	height: 2rem;
}
.aui .dockbar-split .dockbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle {
	background-color: #033e8c!important;
	color: #ffffff!important;
}
