@import "colors";
@import "fonts";
@import "reset";
@import "helpers";

@import "layout/grid";

@import "navigation/navigation";
@import "navigation/side";

@import "sections/hero";
@import "sections/side";
@import "sections/content";
@import "sections/footer";

@import "elements/cards";
@import "elements/buttons";

body {
	background: $light;
	font-family: $font;
}


// FIX LIFERAY
.portlet-dockbar {
	position: absolute;
}

.aui {

	body, body #wrapper {
		font-family: $font;
	}

	.navbar .nav li a {
		color: #ffffff;
	}

	.navbar-inner {
		display: inline-block;
	}

	.navbar .nav li.lfr-nav-item {
		float: none;
		display: block;
	}

	a {
		color: inherit !important;

		&:hover {
			text-text-decoration: none!important;
			color:inherit !important;
		}
	}
}
