@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i,900,900i&display=swap");
body {
  color: #353535;
}

:root {
  font-size: 10px;
}

html,
body,
ul,
ol,
h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  letter-spacing: 0.005rem;
  line-height: 1.2;
  color: #353535;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

img {
  max-width: 100%;
}

.sh {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.link {
  color: #033E8C;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-gap: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 16px;
}

.grid div {
  height: auto;
  background: #033E8C;
  text-align: center;
  opacity: .5;
}

.grid div span {
  color: #ffffff;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.page {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: calc(100vh - 80px);
  grid-gap: 16px;
  margin: 16px;
}

.page .side .side_menu {
  width: 240px;
  -webkit-transition: 0.3s cubic-bezier(0.5, 0, 0.3, 1);
  -o-transition: 0.3s cubic-bezier(0.5, 0, 0.3, 1);
  transition: 0.3s cubic-bezier(0.5, 0, 0.3, 1);
}

.page .side .side_menu .menu_trigger {
  font-size: 1.4rem;
  padding-bottom: 8px;
  cursor: pointer;
}

.page .side .side_menu .menu_item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8px;
  font-size: 1.4rem;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  height: 16px;
}

.page .side .side_menu .menu_item i, .page .side .side_menu .menu_item span {
  line-height: 1;
  opacity: 1;
  -webkit-transition: 0.1s cubic-bezier(0.5, 0, 0.3, 1);
  -o-transition: 0.1s cubic-bezier(0.5, 0, 0.3, 1);
  transition: 0.1s cubic-bezier(0.5, 0, 0.3, 1);
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.page .side .side_menu .menu_item.active {
  color: #033E8C;
  font-weight: 600;
}

.page .side .side_menu .menu_item.active:before {
  content: "";
  position: absolute;
  background: #033E8C;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .1;
  border-radius: 32px;
  left: -32px;
}

.page .side .side_menu .menu_item:hover:before {
  content: "";
  position: absolute;
  background: #353535;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .05;
  border-radius: 32px;
  left: -32px;
}

.page .side .side_menu.th_hide {
  width: 64px;
  -webkit-transition: 0.3s cubic-bezier(0.5, 0, 0.3, 1);
  -o-transition: 0.3s cubic-bezier(0.5, 0, 0.3, 1);
  transition: 0.3s cubic-bezier(0.5, 0, 0.3, 1);
  -webkit-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

.page .side .side_menu.th_hide .menu_item span {
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0.5, 0, 0.3, 1);
  -o-transition: 0.3s cubic-bezier(0.5, 0, 0.3, 1);
  transition: 0.3s cubic-bezier(0.5, 0, 0.3, 1);
}

.grid_box {
  background: #ffffff;
}

.grid_box .portlet_wrap {
  height: 100%;
  overflow-y: auto;
}

.grid_box .box_head {
  display: grid;
  grid-template-rows: 3.2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr auto;
  background: #fafafa;
}

.grid_box .box_head .box_title {
  color: #033E8C;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: .8rem 1.6rem;
  position: relative;
}

.grid_box .box_head .box_title:after {
  content: "";
  background: #033E8C;
  height: 1px;
  width: calc(100% - 3.2rem);
  position: absolute;
  bottom: 0;
  left: 1.6rem;
}

.grid_box .box_head .box_menu {
  background: #ffffff;
}

.grid_box .box_head .box_menu .menu_btn {
  display: inline-grid;
  height: 3.2rem;
  width: 3.2rem;
  place-items: center;
  cursor: pointer;
}

.grid_box .box_head .box_menu .menu_btn i {
  font-size: 1.4rem;
  color: #033E8C;
}

.grid_box .box_head .box_menu .menu_btn:hover {
  background: #e1e7ef;
}

.tabs .tab {
  display: inline-grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: .8rem;
  place-items: center;
  font-size: 1.4rem;
  padding: 0 .8rem;
  height: 3.2rem;
  position: relative;
  color: #b2b2b2;
  cursor: pointer;
}

.tabs .tab:before {
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(178, 178, 178, 0.5)), to(rgba(178, 178, 178, 0)));
  background: -o-linear-gradient(bottom, rgba(178, 178, 178, 0.5) 0%, rgba(178, 178, 178, 0) 100%);
  background: linear-gradient(0deg, rgba(178, 178, 178, 0.5) 0%, rgba(178, 178, 178, 0) 100%);
  /* W3C */
}

.tabs .tab.active {
  color: #033E8C;
  background: #ffffff;
}

.tabs .tab.active:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #033E8C;
  top: 0;
  left: 0;
  position: absolute;
}

i[data-tab-close] {
  position: relative;
}

i[data-tab-close]:before {
  z-index: 1;
  position: relative;
}

i[data-tab-close]:after {
  content: "";
  position: absolute;
  width: calc(100% + .8rem);
  height: calc(100% + .8rem);
  top: -.4rem;
  left: -.4rem;
  background: #b2b2b2;
  z-index: 0;
  opacity: 0;
}

i[data-tab-close]:hover:after {
  opacity: .2;
}

.tab_content {
  display: none;
  padding: .8rem;
}

.main_grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, calc(50% - 8px));
  grid-gap: 16px;
}

.main_grid .t12_l12 {
  grid-area: 1/1/2/2;
}

.main_grid .t23_l12 {
  grid-area: 2/1/3/2;
}

.main_grid .t12_l23 {
  grid-area: 1/2/2/3;
}

.main_grid .t12_l34 {
  grid-area: 1/3/2/4;
}

.main_grid .t23_l23 {
  grid-area: 2/2/3/3;
}

.main_grid .t23_l34 {
  grid-area: 2/3/3/4;
}

.main_grid .t13_l12 {
  grid-area: 1/1/3/2;
}

.main_grid .t13_l34 {
  grid-area: 1/3/3/4;
}

.main_grid .t13_l13 {
  grid-area: 1/1/3/3;
}

.main_grid .t13_l24 {
  grid-area: 1/2/3/4;
}

.main_grid .t12_l13 {
  grid-area: 1/1/2/3;
}

.main_grid .t12_l24 {
  grid-area: 1/2/2/4;
}

.main_grid .t23_l13 {
  grid-area: 2/1/3/3;
}

.main_grid .t23_l24 {
  grid-area: 2/2/3/4;
}

.main_grid .t13_l14 {
  grid-area: 1/1/3/4;
}

.main_grid .t12_l14 {
  grid-area: 1/1/2/4;
}

.main_grid .t23_l14 {
  grid-area: 2/1/3/4;
}

.popups {
  position: fixed;
  display: grid;
  bottom: 0;
}

.popup {
  position: fixed;
  background: #ffffff;
  top: 25%;
  left: 25%;
}

.popup .popup_head {
  display: grid;
  grid-template-columns: 1fr auto;
  background: #033E8C;
  font-size: 1.4rem;
  color: #ffffff;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1.6rem;
}

.popup .popup_head .popup_title {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.popup .popup_head .popup_menu .popup_btn {
  display: inline-grid;
  height: 3.2rem;
  width: 3.2rem;
  place-items: center;
  cursor: pointer;
}

.popup .popup_head .popup_menu .popup_btn:hover {
  background: #e1e7ef;
}

.popup .popup_content {
  padding: 1.6rem;
  font-size: 1.4rem;
}

.popup .popup_content h3 {
  margin-bottom: 1.6rem;
}

.table {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row dense;
  grid-auto-rows: 32px;
  font-size: 1.4rem;
}

.table .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .8rem;
}

.table .row:nth-child(odd) {
  background: #e1e7ef;
}

.table.col2 {
  grid-template-columns: 1fr 1fr;
}

nav {
  display: grid;
  padding: 8px 16px;
  grid-template-rows: 32px;
  background: #033E8C;
  grid-template-columns: 48px 1fr;
}

.nav_logo {
  display: inline-block;
}

.nav_logo img {
  max-height: 100%;
}

.active a {
  font-weight: 700;
}

.hero_head {
  padding: 64px;
}

.hero_head .hero_content .hero_logo {
  width: 128px;
  opacity: 1;
  margin: 16px auto;
  display: block;
}

.hero_head .hero_content .hero_title,
.hero_head .hero_content .hero_sub {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .1em;
  color: #033E8C;
}

.hero_head .hero_content .divider {
  height: 4px;
  background: #033E8C;
  width: 32px;
  margin: 16px auto;
}

.content h1, .content h2, .content h3, .content h4, .content p {
  margin-bottom: 16px;
}

.content h1, .content h2, .content h3, .content h4 {
  color: #033E8C;
}

footer {
  background: #033E8C;
  padding-top: 32px;
  padding-bottom: 96px;
}

.card_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-gap: 32px;
  margin: 0 auto;
  padding: 32px;
  max-width: 960px;
}

.card {
  padding: 16px;
  background: #ffffff;
}

.card .card_title {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
  letter-spacing: 0.02rem;
  color: #033E8C;
}

.card .card_img {
  margin-bottom: 16px;
  width: 100%;
  height: 128px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.card_bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  padding-top: 16px;
  display: grid;
  grid-area: "left right";
}

.card_bottom .left {
  grid-area: left;
}

.card_bottom .right {
  grid-area: right;
  justify-self: right;
}

.button {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  grid-gap: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-areas: "label icon";
  border: 2px solid #033E8C;
  padding: 4px 16px;
  background: #033E8C;
  color: #ffffff;
  font-size: 1rem;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 24px;
}

.button span {
  grid-area: label;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .9rem;
}

.button i {
  grid-area: icon;
}

.button:hover {
  background: #ffffff;
  color: #033E8C;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

body {
  background: #fafafa;
  font-family: "Source Sans Pro", sans-serif;
}

.portlet-dockbar {
  position: absolute;
}

.aui .navbar .nav li a {
  color: #ffffff;
}

.aui .navbar-inner {
  display: inline-block;
}

.aui .navbar .nav li.lfr-nav-item {
  float: none;
  display: block;
}
